
body {
    min-height: 100vh;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(secretlevel.jpg);
}
.game{
    width: 700px;
    height: 500px;
    background-color: transparent;
    border-color: black;
    /* THis is mandatory, it tells to the game that everyting inside
    is related to this element */
    position: relative;
}
.character{
    background-color: transparent;
    background-image: url(IMG_9185.GIF);
    background-size: contain;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    bottom: 0%;
    left: 10%;
    /* transition: all linear 1000ms; */
    /* This is mandatory
    it tells that the element is absolute inside of the game */
    position: absolute;
}

.jump{
    animation: jumpAnim 1000ms;
}


@keyframes jumpAnim {
    0%,100%{
        bottom: 0%;
    }
    40%{
        bottom: 30%;
    }
}

.dobbleJump{
    animation: doubleJumpAnimation .8s  linear forwards;
}



@keyframes doubleJumpAnimation {
    100%{
        transform: rotate(360deg);
    }
}



.enemy{
    background-color: red;
    width: 30px;
    height: 100px;
    bottom: 0%;
    left: 100%;
    /* This is mandatory
    it tells that the element is absolute inside of the game */
    position: absolute;
}


.highEnemy{
    background-color: blue;
    width: 30px;
    height: 50px;
    bottom: 100px;
    left: 100%;
    /* This is mandatory
    it tells that the element is absolute inside of the game */
    position: absolute;
}


.moving{
    animation: movingAnim 250ms linear;
}
@keyframes movingAnim {
    0%{
        left: 100%;
    }
    100%{
        left: 0%;
    }
}


.win{
    animation: winAnim 10000ms linear;
}

@keyframes winAnim{
    0%{
        
    }
}