.game{
    width: 700px;
    height: 500px;
    background-color: aqua;
    /* THis is mandatory, it tells to the game that everyting inside
    is related to this element */
    position: relative;
}
.character{
    background-color: green;
    width: 30px;
    height: 30px;
    bottom: 0%;
    left: 10%;
    transition: all .5s;
    /* This is mandatory
    it tells that the element is absolute inside of the game */
    position: absolute;
}

.jump{
    animation: jumpAnim 1000ms;
}


@keyframes jumpAnim {
    0%,100%{
        bottom: 0%;
    }
    40%{
        bottom: 30%;
    }
}

.dobbleJump{
    transform: translateY(-200px)
}


@keyframes dobbleJumpAnim {
    40%{
        transform: translateY(-200px);
    }
    100%{
        transform: translateY(0px);
        bottom: 0%;
    }
}



.enemy{
    background-color: red;
    width: 30px;
    height: 150px;
    bottom: 0%;
    left: 100%;
    /* This is mandatory
    it tells that the element is absolute inside of the game */
    position: absolute;
}

.moving{
    animation: movingAnim 4000ms linear;
}
@keyframes movingAnim {
    0%{
        left: 100%;
    }
    100%{
        left: 0%;
    }
}