.game{
    width: 700px;
    height: 500px;
    background-color: aqua;
    border-color: black;
    /* THis is mandatory, it tells to the game that everyting inside
    is related to this element */
    position: relative;
}
.character{
    background-color: green;
    width: 30px;
    height: 30px;
    bottom: 0%;
    left: 10%;
    transition: all .5s;
    /* This is mandatory
    it tells that the element is absolute inside of the game */
    position: absolute;
}

.jump{
    animation: jumpAnim 1000ms;
}


@keyframes jumpAnim {
    0%,100%{
        bottom: 0%;
    }
    40%{
        bottom: 30%;
    }
}

.dobbleJump{
    transform: translateY(-200px)
}


@keyframes dobbleJumpAnim {
    40%{
        transform: translateY(-300px);
    }
    100%{
        transform: translateY(0px);
        bottom: 0%;
    }
}



.enemy{
    background-color: red;
    width: 30px;
    height: 100px;
    bottom: 0%;
    left: 100%;
    /* This is mandatory
    it tells that the element is absolute inside of the game */
    position: absolute;
}


.highEnemy{
    background-color: blue;
    width: 30px;
    height: 150px;
    bottom: 100px;
    left: 100%;
    /* This is mandatory
    it tells that the element is absolute inside of the game */
    position: absolute;
}

.start{
animation:StartAnim 800ms linear;
}

@keyframes StrartAnim {
    0%{
        left: 100%;
    }
    100%{
        left: 99%;
    }
}

.moving{
    animation: movingAnim 4000ms linear;
}
@keyframes movingAnim {
    0%{
        left: 99%;
    }
    100%{
        left: 0%;
    }
}

.start2{
    animation:StartAnim2 800ms linear;
    }
    
    @keyframes StrartAnim2 {
        0%{
            left: 100%;
        }
        100%{
            left: 99%;
        }
    }