h1{
    font-size: xx-large;
    font-family: fantasy;
    text-align: center;
    color: black;
    border-color: black;
    border-style: dotted;
}

body{
    background: linear-gradient(90deg, rgba(2,0,36,1) 10%, rgba(107,138,115,255) 50%, rgba(107,138,115,255) 100%);
    min-height: 100vh;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.map-bg{
    min-height: 100vh;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

    background-image: url(map.JPG);
}

.btn-game{
    background-image: url('bg-btn-removebg-preview.png');
    background-size: 100% 100%;
    color: white;
    font-weight: bold;
    background-repeat: no-repeat;
    display: inline-block;
    padding: 20px 60px;

}

.btn-large{
text-align: center;   
font-size: 25px;  
position: absolute;
left: 30%;
top: 60%;
}

text-align: center;   
font-size: 25px;  
position: absolute;
left: 30%;
top: 60%; */