h1{
    font-size: xx-large;
    font-family: fantasy;
    text-align: center;
    color: black;
    border-color: black;
    border-style: dotted;
}

body{
    background: linear-gradient(90deg, rgba(2,0,36,1) 10%, rgba(107,138,115,255) 50%, rgba(107,138,115,255) 100%);
    min-height: 100vh;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
.container{
    position: relative;
    top: 180px;
}

.map-bg{
    min-height: 100vh;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

    background-image: url(map.jpg);
}

.btn-game{
    background-image: url('bg-btn-removebg-preview.png');
    background-size: 100%;
    color: white;
    font-weight: bold;
    background-repeat: no-repeat;
    display: inline-block;
    padding: 10px 30px;
    text-align: center;   
    font-size: 15px;  
    position: absolute;
    left: 35%;
    top: 55%;
}


.btn-games{
    background-image: url('bg-btn-removebg-preview.png');
    background-size: 100%;
    color: white;
    font-weight: bold;
    background-repeat: no-repeat;
    display: inline-block;
    padding: 10px 30px;
    text-align: center;   
    font-size: 15px;  
    position: absolute;
    left: 25%;
    top: 60%;
}

.btn-gamest{
    background-image: url('bg-btn-removebg-preview.png');
    background-size: 100%;
    color: white;
    font-weight: bold;
    background-repeat: no-repeat;
    display: inline-block;
    padding: 10px 30px;
    text-align: center;   
    font-size: 15px;  
    position: absolute;
    left: 70%;
    top: 30%;
}

.btn-gameste{
    background-image: url('bg-btn-removebg-preview.png');
    background-size: 100%;
    color: white;
    font-weight: bold;
    background-repeat: no-repeat;
    display: inline-block;
    padding: 10px 30px;
    text-align: center;   
    font-size: 15px;  
    position: absolute;
    left: 68%;
    top: 80%;
}

.btn-gamested{
    background-image: url('bg-btn-removebg-preview.png');
    background-size: 100%;
    color: white;
    font-weight: bold;
    background-repeat: no-repeat;
    display: inline-block;
    padding: 10px 30px;
    text-align: center;   
    font-size: 15px;  
    position: absolute;
    left: 10%;
    top: 10%;
}

.btn-gamesteds{
    background-size: 100%;
    color: transparent;
    font-weight: bold;
    background-repeat: no-repeat;
    display: inline-block;
    padding: 10px 30px; 
    position: absolute;
    left: 30%;
    top: 25%;
}