
body {
    background-image: url(firstlevelmap.jpg);
    min-height: 100vh;
    background-size: cover;
    border-width: 10px;
  }

  .game{
    width: 700px;
    height: 500px;
    background-color: transparent;
    border-width: 10px;
    background-size: cover;

    /* THis is mandatory, it tells to the game that everyting inside
    is related to this element */
    position: relative;
}

.character{
    background-color: transparent;
    background-image: url(IMG_9185.GIF);
    background-size: contain;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    bottom: 0%;
    left: 10%;
    /* transition: all linear 1000ms; */
    /* This is mandatory
    it tells that the element is absolute inside of the game */
    position: absolute;
}

.jump{
    animation: jumpAnim 1500ms;
}


@keyframes jumpAnim {
    0%,100%{
        bottom: 0%;
    }
    40%{
        bottom: 65%;
    }
}



.enemy{
    background-image: url(ezgif.com-rotate.gif) ;
    width: 100px;
    height: 100px;
    bottom: 0%;
    left: 100%;
    background-size: cover;
    /* This is mandatory
    it tells that the element is absolute inside of the game */
    position: absolute;
}

.moving{
    animation: movingAnim 4000ms linear;
}
@keyframes movingAnim {
    0%{
        left: 100%;
    }
    100%{
        left: 0%;
    }
}

h3{
  color: aqua;
  font: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}